<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<#include "/header.html"/>
<script type="application/javascript">
    $(function () {
        $.ajax({
            url: "${ctx}/homepage/pvtotal",
            type: "get",
            dataType: "json",
            success: function (data) {
                // Create the chart
                $('#container').highcharts('StockChart', {
                    rangeSelector: {
                        selected: 1
                    },
                    title: {
                        text: 'PV Number'
                    },
                    series: [{
                        name: 'AAPL',
                        data: data,
                        tooltip: {
                            valueDecimals: 2
                        }
                    }]
                });
            }
        });
    })
    $.ajax({
        url: "${ctx}/homepage/uvtotal",
        type: "get",
        dataType: "json",
        success: function (data) {
            // Create the chart
            $('#container1').highcharts('StockChart', {
                rangeSelector: {
                    selected: 1
                },
                title: {
                    text: 'UV Number'
                },
                series: [{
                    name: 'AAPL',
                    data: data,
                    tooltip: {
                        valueDecimals: 2
                    }
                }]
            });
        }
    });
    $.ajax({
        url: "${ctx}/homepage/errornum",
        type: "get",
        dataType: "json",
        success: function (data) {
            // Create the chart
            $('#container2').highcharts('StockChart', {
                rangeSelector: {
                    selected: 1
                },
                title: {
                    text: 'Error Num'
                },
                series: [{
                    name: 'AAPL',
                    data: data,
                    tooltip: {
                        valueDecimals: 2
                    }
                }]
            });
        }
    });
    $(function () {
        $.ajax({
            url: "${ctx}/homepage/functiontime",
            type: "get",
            dataType: "json",
            success: function (data) {
                $('#container3').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'UseTime List'
                    },
                    xAxis: {
                        type: 'category',
                        labels: {
                            rotation: -45,
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Population (millions)'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    tooltip: {
                        pointFormat: 'Population in 2008: <b>{point.y:.1f}</b>'
                    },
                    series: [{
                        name: 'Population',
                        data: data,
                        dataLabels: {
                            enabled: true,
                            rotation: -90,
                            color: '#FFFFFF',
                            align: 'right',
                            format: '{point.y:.1f}', // one decimal
                            y: 10, // 10 pixels down from the top
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    }]
                });
            }
        });
    });
    $(function () {
        $.ajax({
            url: "${ctx}/homepage/functionvisitnum",
            type: "get",
            dataType: "json",
            success: function (data) {
                $('#container4').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'UseVisitTime List'
                    },
                    xAxis: {
                        type: 'category',
                        labels: {
                            rotation: -45,
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Population (millions)'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    tooltip: {
                        pointFormat: 'Population in 2008: <b>{point.y:.1f}</b>'
                    },
                    series: [{
                        name: 'Population',
                        data: data,
                        dataLabels: {
                            enabled: true,
                            rotation: -90,
                            color: '#FFFFFF',
                            align: 'right',
                            format: '{point.y:.1f}', // one decimal
                            y: 10, // 10 pixels down from the top
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    }]
                });
            }
        });
    });
</script>
<div class="container-fluid">
    <div class="row">
        <div id="container" class="col-lg-6"></div>
        <div id="container1" class="col-lg-6"></div>
        <div id="container2" class="col-lg-6"></div>
        <div id="container3" class="col-lg-6"></div>
        <div id="container4" class="col-lg-6"></div>
    </div>
</div>

</body>
</html>